body {
  background-image: url(picture\ m.jpg);
  opacity: 5.0;
  background-repeat: no-repeat;
  background-size: cover;
}
div{
    color: blue;
    text-align: center;
    font-size: 50px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 15px;

}
span{
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: azure;
  border-radius: 15px;
  padding: 5px;
}
h1{
    color: rosybrown;
    text-align: center;
    font-size: 100px;
}
h1:hover{
    color: gold;
    text-align: center;
    font-size: 100px;
}
li{
    color: blue;
    text-align: left;
    font-size: 50px;
    margin-bottom: 15px;
    border-radius: 15px;
    background-color: blueviolet; opacity: 0.7;
    padding: 5px;
    width: fit-content;
}
p{
    font-size: 40px;
}